body{
    background-color: #233142;
}
li{
    flex-basis: 100%;
    text-align: center;
    list-style-type: none;
    background: #233142;
    text-decoration: none;
    align-items: flex-end;
}
li a{
    text-decoration: none;
    font-family: sans-serif;
    color: #ffffff;
    padding: 0.2rem;
    width: 90%;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    padding: 0;
    display: flex;
    justify-content: space-around;
    gap: 2px;
}
article{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    background-size: cover;
    background-repeat: no-repeat;
}
footer {
    background-color: #233142;
    color: #ffffff;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
}
footer a {
    color: #ffffff; 
    text-decoration: underline; 
    font-size: 1rem;
}
#Formulario{
    width: 25rem;
    min-height: 75vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    text-align: center;
    font-weight: bolder;
    color: #233142;
}
article div{
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    text-align: center;
    font-weight: bolder;
    flex-direction: row;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}
tr{
    text-align: center;
    display: grid;
    grid-template-columns: 5fr 3fr 4fr;
    justify-content: space-around;
}
td:hover, footer a:hover{
    color: #c58206;
    transform: rotate(360deg);
    transition: transform 0.4s;
    cursor: pointer;
}
ul a:hover, ul svg:hover{
    stroke: #c58206;
    color: #c58206;
    transform: rotate(360deg);
    transition: transform 0.4s;
    cursor: pointer;
}
article img{
    width: 28rem;
    height: 30rem;
}