body{
    background-color: #233142;
}
li{
    flex-basis: 100%;
    text-align: center;
    list-style-type: none;
    background: #233142;
    text-decoration: none;
    align-items: flex-end;
}
li a{
    text-decoration: none;
    font-family: sans-serif;
    color: #ffffff;
    padding: 8px;
    width: 100%;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    padding: 0;
    display: flex;
    justify-content: space-around;
    gap: 2px;
}
aside{
    background-color: #ffffff;
}
footer {
    background-color: #233142;
    color: #ffffff;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
}
footer a {
    color: #ffffff; 
    text-decoration: underline; 
    font-size: 1rem;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}
tr{
    text-align: center;
    display: grid;
    grid-template-columns: 5fr 3fr 4fr;
    justify-content: space-around;
}
td:hover, footer a:hover{
    color: #c58206;
    cursor: pointer;
}
ul a:hover{
    stroke: #c58206;
    color: #c58206;
    cursor: pointer;
}
ul svg:hover{
    stroke: #c58206;
    color: #c58206;
    cursor: pointer;
}